# Staging Meta DB credentials
MYSQL_HOST=localhost
MYSQL_DB_PASSWORD=

# Common
MYSQL_PORT=3306
MYSQL_DB_USER=testrail_meta
MYSQL_DATABASE=testrail_meta

# Redis Staging
REDIS_HOST=localhost

# Redis Common
REDIS_PORT=6379

# Reqis keys
COMPLETED_INSTANCES_QUEUE=staging_datasync_completed_instance
RUNNING_SET=stagig_datasync_running_instances
DEAD_LETTER_QUEUE=stagig_datasync__dead_letter_queue
RDS_LOCK_KEY_PREFIX=stagig_datasync_rds_lock_
QUEUE_NAME=stagig_datasync_instances_staging

# AWS
TASK_NAME=STAGING-EFS-TO-S3-TASK
REGION = us-east-1
SOURCE_EFS_ID = fs-123456
SOURCE_SUBNET_ID = subnet-123456
SECURITY_GROUP = sg-12345678
SOURCE_SUBDIRECTORY=/efs/path/to/testrail-attachments
DEST_LOCATION_ARN=<destination-location-arn>
ACCOUNT_ID=123435678


# Logging
LOG_DIRECTORY=log/